/Task2/Task2.Demo/bin
/Task2/Task2.Demo/obj
/Task2/Task2.GUI/bin
/Task2/Task2.GUI/obj
/Task2/Task2.Common/obj
/Task2/Task2.Common/bin
/Task1/Task1.Client/obj
/Task1/Task1.Client/bin
/Task1/Task1.Common/obj
/Task1/Task1.Common/bin
/Task1/Task1.Server/bin
/Task1/Task1.Server/obj
