<?xml version="1.0" encoding="utf-8"?>

<groups>
  <group name="group1">
    <job id="1" start="1" end="124354" count="46" />
    <job id="2" start="15" end="1789054" count="45" />
    <job id="3" start="17" end="178954" count="65" />
  </group>
  <group name="group2">
    <job id="1" start="1" end="17854" count="87" />
    <job id="2" start="178" end="167354" count="47" />
    <job id="3" start="18" end="4354" count="43" />
  </group>
  <group name="group3">
    <job id="1" start="1" end="189454" count="32" />
    <job id="2" start="167" end="126575674" count="15" />
    <job id="3" start="1452" end="124354" count="78" />
  </group>
</groups>