<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=HRM;User Id=sa;Password=web@1234;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>